@page
@model ExternalLoginModel

@{
    ViewData["Title"] = "Register";
}



<h1>
    @ViewData["Title"]
</h1>
<h4 id="external-login-title">
    Associate your @Model.ProviderDisplayName account.
</h4>
<hr />
<p
    id="external-login-description"
    class="text-info"
>
    Your account has been registered after login with <strong>@Model.ProviderDisplayName</strong>.
    <br />
</p>